input {
    /* padding: 15px; */
    /* margin: 10px 0; */
}

span.errorMessage {
    color: red;
    display: none;
}

input:invalid[focused="true"] ~ span {
    display: block;
}

input {
    width: 100%;
    box-sizing: border-box;
}